
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
--Dark-Blue1: hsl(217, 28%, 15%);
--Dark-Blue2: hsl(218, 28%, 13%);
--Dark-Blue3: hsl(216, 53%, 9%);
--Dark-Blue4: hsl(219, 30%, 18%);
--Cyan: hsl(176, 68%, 64%);
--Blue: hsl(198, 60%, 50%);
--Light-Red: hsl(0, 100%, 63%);
--White: hsl(0, 0%, 100%);
}

.attribution { 
    font-size: 11px; text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}
html {
    background-color: var(--Dark-Blue1);
    overflow-x: hidden;
}
header {
    margin: 3rem;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px; 
    color:hsl(0, 0%, 100%);
    overflow-x: hidden;
}

.logo img {
    width: 6rem;
}
.nav-links {
    display: flex;
    gap: 3em;
}
.nav-links a {
    text-decoration: none;
}
a:hover {
    color: var(--White);
}
a, li {
    list-style: none;
    text-decoration: none;
    color: rgb(170, 168, 168);
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.image1 img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    margin-bottom: 1rem;
}
h1 {
    font-size: 1.6em;
    display: block;
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    margin-bottom: 1rem;
    font-family: "Raleway", sans-serif;
}

.intro {
    padding-bottom: 1em;
    background-image: url(./images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    padding: 3rem;
}
.introbackground {
    background-color: var(--Dark-Blue2);
    padding-bottom: 20rem;
    margin-bottom: -70px;
}
.first-div p, button {
    display: block;
    margin: 0 auto;
    max-width: 370px;
    text-align: center;
    margin-bottom: 1rem;
}

.first-div button {
    width: 12rem;
    border-radius: 15px;
    padding: .6rem;
    background-color: var(--Cyan);
    border: none;
    color:hsl(0, 0%, 100%);
    margin-bottom: 5rem;
    font-size: .8em;
}

.grid {
    margin-top: 7rem;
    display: grid;
    margin: 0 auto;
    max-width: 800px;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.grid1 {
    max-width: 80%;
    text-align: center;
    line-height: 20px;
    margin-bottom: 3rem;
}
.grid2 {
    max-width: 80%;
    text-align: center;
    line-height: 20px;
    margin-bottom: 3rem;
}
.grid3 {
    max-width: 80%;
    text-align: center;
    line-height: 20px;
    margin-bottom: 3rem;
}
.grid4 {
    max-width: 80%;
    text-align: center;
    line-height: 20px;
    margin-bottom: 3rem;
}
h3 {
    font-size: 1.2em;
}
.flex {
    display: grid;
    margin: 5rem auto;
    max-width: 90%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.left img {
    width: 90%;
    max-width: 500px;
}
.right {
    max-width: 400px;
}
.right h1 {
    text-align: justify;
    margin: 0;
    font-size: 2em;
    margin-bottom: 1rem;
}

.right p {
    font-size: 1.2em;
}
.line-through {
    text-decoration-line: underline;
    text-decoration-color: aquamarine;
    
}
.line-through a {
    color: var(--Cyan);
}
.line-through img {
    position: relative;
    top: 5px;
}
.quote {
    z-index: 1;
}
.cards-section {
    padding: 3rem;
}
.cards {
    display: flex;
    margin: 0 auto;
    position: relative;
    bottom: 30px;
    right: 10px;
}
.card1, .card2, .card3 {
    background-color: var(--Dark-Blue4);
    margin: 1rem;
    padding: 2rem;
    width: 80%;
}
.info {
    display: flex;
    gap: 10px;
    margin: 1rem 0 0 0;
}
.inline {
    align-self: center;
}
.info-img {
    width: 40px;
    border-radius: 50%;
}

.inline h5 ~ p {
    font-size: .6em;
}

.get-access {
    background-color: var(--Dark-Blue1);
    padding: 2rem;
    width: 600px;
    margin: 0 auto;
    max-width: 700px;
    position: relative;
    bottom: 100px;

    /* position: relative;
    left: 500px;
    bottom: 100px; */
}

.get-access p {
    text-align: center;
}

.flexbox {
    display: flex;
    margin: 2rem auto .5rem auto;
    max-width: 600px;
    min-width: 50%;
}
.flexbutton {
    width: 35%;  
    padding: .2rem;
    border-radius: 20px;
    font-size: .9em;
    height: 40px;
    text-align: center;
    background-color: var(--Cyan);
    border: none;
    color: var(--White);
}
.about {
    margin-top: 5px;
    color: rgb(186, 185, 185);
    letter-spacing: 1px;
}
input[type=email] {
    width: 55%;
    height: 40px;
    padding: 0 .5rem 0 .5rem;
    border-radius: 20px;
    outline: none;
}

.error {
    display: block;
    margin-left: 30px;
    margin-top: -15px;
    color: red;
}

footer {
    background-color: var(--Dark-Blue3);
    width: 115%;
    margin: -170px -50px -50px -50px;
    padding: 6rem 5rem 2rem 5rem;
}
.footer-logo img {
    width: 7rem;
    margin-bottom: 3rem;
}

.footer-grid {
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
}

.column1 {
    display: flex;
    gap: 20px;
    max-width: 25%;
    text-align: justify;
}

.column1 img {
    width: 20px;
    height: 20px;
}

.column3, .column4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.column2 div {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
}
button {
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    background-image: linear-gradient(90deg, #65e2d9 2%, #339ecc 100%);
    color: white;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    outline: none;
    border: none;
    cursor: pointer;
}
button:hover {
        background-image: linear-gradient(45deg, #87f8f0, #65e2d9);
}

.navsocial__menu {
    display: flex;
}
.navsocial__menu-item {
    margin-left: 1rem;
}
.navsocial__link > svg {
    width: 28px;
}
.navsocial__link > svg > path {
    fill: white;
    transition: all 0.3s ease-in-out;
}
.navsocial__link:hover > svg > path {
    fill: #65e2d9;
}

@media (max-width: 390px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        gap: 5px;
        
    }
}
@media (min-width: 345px) and (max-width: 1200px) {
    body {
        font-size: .9em;
    }
    .logo img {
        width: 50%;
    }
    .nav-links {
        display: flex;
        justify-content: space-between;
        gap: 7px;
    } 
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .flex {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }

    .cards {
        flex-direction: column;
    }
    .card1, .card2, .card3 {
        width: 90%;
        margin-left: 20px;
    }
    .get-access {
        width: 90%;
    }
    .flexbox {
        flex-direction: column;
        gap: 20px;
    }
    #email {
        display: block;
        width: 100%;
    }
    #subscribe {
        display: block;
        width: 100%;
    }

    .footer-grid {
        flex-direction: column;
        gap: 30px;
    }
    .column1 p {
        text-align: start;
        letter-spacing: 1px;
    }
    .navsocial__menu {
        justify-content: center;
    }
}